/.metadata/
Animal(깃새로시작하자..)/Animal/.classpath
Animal(깃새로시작하자..)/Animal/.project
Animal(깃새로시작하자..)/Animal/build/classes/.gitignore
Animal(깃새로시작하자..)/Animal/.settings/org.eclipse.wst.jsdt.ui.superType.name
Animal(깃새로시작하자..)/Animal/.settings/org.eclipse.wst.jsdt.ui.superType.container
Animal(깃새로시작하자..)/Animal/.settings/org.eclipse.wst.common.project.facet.core.xml
Animal(깃새로시작하자..)/Animal/.settings/org.eclipse.wst.common.component
Animal(깃새로시작하자..)/Animal/.settings/org.eclipse.jdt.core.prefs
Animal(깃새로시작하자..)/Animal/.settings/org.eclipse.core.resources.prefs
Animal(깃새로시작하자..)/Animal/.settings/.jsdtscope
